*{
    font-family: "Rajdhani", sans-serif;
}
body {
    background-color: #1a1a1a;
    color: white;
}

  .sidebar .nav-link {
    color: #fff;
  }
  .sidebar .nav-link:hover {
    background-color: #495057;
  }
  .scrollable-list {
    max-height: 300px; /* Membatasi tinggi maksimal */
    overflow-y: auto;  /* Menambahkan scroll secara vertikal */
    border: 1px solid #ccc; /* Opsional: Menambahkan garis tepi */
    border-radius: 5px; /* Opsional: Memberikan radius sudut */
  }


.table {
  background-color: #2c2c2c;
  color: white;
  border-collapse: collapse; 
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #00e1ff; 
  padding: 8px;
  text-align: center;
}

.table thead th {
  background-color: #121212;
  border-bottom: 2px solid #00e1ff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table tbody tr:hover {
  background-color: rgba(0, 225, 255, 0.1);
}

.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #00e1ff;
}
